/* General Layout */
.sensor-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  background-color: #ffffff;
}

/* Section Titles */
.sensor-card h3,
.sensor-card h4 {
  margin: 0;
  padding: 10px;
  font-size: 1.2em;
  background-color: #5a6e83; /* Blue header background */
  color: #fff; /* White text */
}

/* Device Info */
.device-info {
  padding: 15px;
}

.device-info p {
  margin: 5px 0;
}

.device-info strong {
  color: #333333; /* Highlight important text */
}

/* Compact Gateway Section */
.gateway-section {
  padding: 5px; /* Reduce padding */
  margin: 1px;
}

.gateway-section h4 {
  font-size: 1em; /* Smaller title */
}

.compact-gateways {
  display: grid; /* Use a grid layout for compact display */
  grid-template-columns: repeat(auto-fit, minmax(150px, auto)); /* Responsive columns */
}

.gateway-compact {
  background-color: #ffffff; /* Light background for contrast */
  border-radius: 6px; /* Rounded corners */
  padding: 2px;
  font-size: x-small; /* Compact padding */
}

.gateway-compact p {
  margin: 2px;
}

/* Data Section Styling */
.data-section {
  padding: 20px;
}

.data-section h4 {
  font-size: larger; /* Emphasize data section title */
}

.stations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto)); /* Responsive grid layout */
  gap: 20px; /* Space between cards */
}

.station-card {
  background-color: #ffffff; /* White background for contrast */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  padding: 15px; /* Add spacing inside the card */
  margin-bottom: 10px;;
}

.station-card h5 {
  font-size: larger; /* Emphasize station title */
}

.station-info p {
  font-size: smaller; /* Compact text for details */
}

.alarm-list {
  list-style-type: none;
  padding: 0;
}

.alarm-list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.alarm-list li svg {
  margin-right: 8px;
}
